[submodule "themes/onetwothree"]
	path = themes/onetwothree
	url = git@github.com:Jeern/onetwothree.git
[submodule "themes/one"]
	path = themes/one
	url = https://github.com/resugary/hugo-theme-one.git
